body {
  font-family: "Titillium Web" !important;
  background-image: url(../img/bg.png); // no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Titillium Web" !important;
}

.reveal {
  font-family: "Titillium Web" !important;
}

img {
  width: 304px;
  height: 304px;
}

.row {
  margin-bottom: 2em;
}

.example {
  display: flex;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
